<!-- TOPページ -->
<% if login? %>
  <div class="row">
    <div class="col-sm-12 mb-5">
      <div class="nav nav-tabs nav-justified">
        <li class="nav-item"><a href="<%= root_path %>" class="nav-link <%= 'active' if current_page?(root_path) %>">新着順</a></li>
        <li class="nav-item"><a href="<%= populars_toppages_path %>" class="nav-link <%= 'active' if current_page?(populars_toppages_path) %>">人気順</a></li>
        <li class="nav-item"><a href="<%= likes_toppages_path %>" class="nav-link <%= 'active' if current_page?(likes_toppages_path) %>">お気に入り</a></li>
      </div>
    </div>
  </div>
  <%= render 'reviews/reviews', reviews: @reviews %>
<% else %>
  <div class="jumbotron center">
    <div class="text-center">
      <h1>おいしいお酒紹介サイト</h1>
      <p>おいしいお酒が飲める場所を紹介しあいませんか？<br>お気に入りのお店酒を増やして楽しくお酒を飲みましょう！</p>
      <%= link_to '新規登録', signup_path, class: 'btn btn-outline-danger btn-lg' %>
    </div> 
  </div>
<% end %>