<!-- ナビバー共通 -->
<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <a href="/" class="navbar-brand">alcohol introduce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav">
        <% if login? %>
          <li class="nav-item"><%= link_to '検索', search_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'お店投稿', new_review_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ユーザ一覧', users_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name%>さん</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'プロフィールへ', current_user %></li>
              <li class="dropdown-item"><%= link_to 'アカウント設定', edit_user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>